body {
    align-items: center;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

h1 {
    color: rgba(175, 47, 47, 0.15);
    font-size: 90px;
    font-weight: 100;
    font-family: Arial, sans-serif;
    margin: 10px;
}

form {
    align-items: center;
    display: flex;
   
}

/* Hittade nedan via stackoverflow */
#toDoInput:not(:focus) {
    font-size: 20px;
    font-style: italic;
    opacity: 0.25;
    
}

#toDoInput {
    align-items: center;
    border: 0px solid grey;
    outline-width: 0;

    margin: 5px;
    min-height: 30px;
    min-width: 400px;
    padding: 16px 16px 16px 60px;
}

#info {
    color: #BFBFBF;
    font-family: Arial, sans-serif;
    font-size: 10px;
    margin: 40px;
}

#main{
   background-color: white;
    box-shadow: 10px 10px 25px 5px grey;

   
}

#create-new-todo {
    border: solid 10 px;
    background-color: white;
    display: none;
    font-family: Arial, sans-serif;
    display: 65.040;width: 440px;
    min-height: 20px;
    border: 0px solid grey;
}

#footer {
    align-items: center;
    align-content: space-around;
    background-color: white;
    box-shadow: 10px 10px 25px 5px lightgrey;
    border: 0.1px solid lightgrey;
    display: flex;
    display: none;
    width: 476px;
}

label {
    min-width: 400px;
    min-height: 30px;
}

button {

    background-color: white;
    border: 0.2px solid #BFBFBF;
    color: grey;
    background: url(xclose.png) no-repeat;
    border: none;
}

#markAll {
    width: 30px;
    height: 30px;
}

#clearCompleted {
    margin-left: 65px;
}

#all {

    margin-left: 70px;
    margin-right: 5px;
}

.active {
    margin-right: 5px;
}

#create-new-todo button {
    height: 15px;
}

.completed {

    color: grey;
    opacity: 0.5;
    text-decoration: line-through;
}

.checkbox {

    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;

}
.checkbox:checked {
    background-color: blue;
}



img {
    width: 20px;
    height: 18px;
    opacity: 0.5;
    
}


/* :hover för att göra ngt när man hoovrar, vilket element? */
form div {

    display: flex;
    align-content: space-around;

}

